@page "/"
@inject IProjectService ProjectService

<PageTitle>Dashboard</PageTitle>

<div class="pa-2">
    <h1>Dashboard</h1>

    <h3 style="margin-top: 20px">Routes</h3>
    @foreach (var route in Routes.AllRoutes)
    {
        <a href="@route"><h5>@route</h5></a>
    }
</div>

<GanttView Start="DateTime.Today" End="DateTime.Today.AddYears(1)" Items="projects" Mode="GanttView.GanttViewMode.Year"/>
<GanttView Start="DateTime.Today" End="DateTime.Today.AddDays(60)" Items="projects" Mode="GanttView.GanttViewMode.Month" />
<GanttView Start="DateTime.Today" End="DateTime.Today.AddDays(60)" Items="projects" Mode="GanttView.GanttViewMode.Week" />

@code{
    List<Project> projects = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        var projects = await ProjectService.GetProjectsAsync();
        if (projects is not null)
        {
            this.projects = projects.ToList();
        }
    }
}