.full-height-container {
    height: calc(100dvh - var(--mud-appbar-height) + var(--mud-appbar-height) / 8);
}

.mud-appbar-dense .full-height-container {
    height: calc(100dvh - var(--mud-appbar-height) + var(--mud-appbar-height) / 4)
}

@media (min-width: 600px) and (orientation: landscape) {
    .full-height-container {
        height: calc(100dvh - var(--mud-appbar-height) + var(--mud-appbar-height) / 4);
    }
}
@media (min-width: 600px) {
    .full-height-container {
        height: calc(100dvh - var(--mud-appbar-height));
    }
}