@inherits LayoutComponentBase
@inject RenderCollection RenderCollection
@inject RenderFragmentService RenderFragmentService
@inject IStringLocalizer<MainLayout> Localizer

<AuthorizeView>

    <Authorized>

        <MudLayout>

            <style>
                .app-bar{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%; 
                    z-index: 1000;
                }
            </style>


            <MudToolBar Dense="true" Gutters="false" Class="px-4 mud-elevation-4 app-bar" Style="z-index: 10000; background-color: var(--mud-palette-drawer-background)">
                <a href="@Routes.Dashboard"><MudText Typo="Typo.h4" Style="color: var(--mud-palette-primary)"><b>Planity</b></MudText></a>
                <div class="py-2 px-3" style="height: 100%;">
                    <MudDivider Vertical="true" />
                </div>
                
                <div class="d-flex gap-1">
                    @foreach (var componentType in RenderCollection.GetAppBarNavigationComponents())
                    {
                        @RenderFragmentService.Render(componentType)
                    }
                </div>
                
                <div class="py-2 px-3" style="height: 100%;">
                    <MudDivider Vertical="true" />
                </div>

                <FeatureNavigationMenu MenuTitle="@Localizer["Skapa"]" MenuLinks="@RenderCollection.GetCreateNewLinks().ToList()" />

                <MudSpacer />
                <LoginDisplay />
            </MudToolBar>

            <div style="padding-top: 48px; height: 100%;">
                @Body
            </div>
        </MudLayout>

    </Authorized>



    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>

