@using System.Collections.Generic
@using System

@if (Items is not null)
{
    <style>
        .bottom-border {
            box-sizing: border-box;
            border-bottom: 1px solid Black;
        }
        .gantt-row {
            width: 100%;
            position: relative;
        }

    </style>
    <div style="border-right: 1px solid Black;">
        <div style="width: @Width; height: @HeaderHeightPx;" class="bottom-border"></div>
        <div style="width: @Width; position: relative;">
            @foreach (var (item, index) in Items.Select((item, index) => (item, index)))
            {
                <div class="bottom-border gantt-row" style="height: @RowHeightPx;">
                    @item.Name
                </div>
            }
        </div>
    </div>
    
}

@code {
    [Parameter] public IEnumerable<IGanttItem>? Items { get; set; }
    [Parameter] public string RowHeightPx { get; set; } = "30px";
    [Parameter] public string HeaderHeightPx { get; set; } = "50px";
    [Parameter] public int RowCount { get; set; } = 0;
    [Parameter] public string Width { get; set; } = "220px";
}
