.date-picker {
    width: 290px;
}


.left {
    display: flex;
    gap: 16px;
    align-items: center;
}
.center {
    display: flex;
    gap: 16px;
    align-items: center;
}
.right {
    display: flex;
    gap: 16px;
    align-items: center;
}
