@inject IStringLocalizer<EntityFormsPageLayout> localizer

<OverviewPageLayout Title="@Title"> 
    <LeftActions>
        @if (Actions != null)
        {
            @Actions
        }
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OnSaveClicked" Disabled="IsSaving" Size="Size.Small">
            @if (IsSaving)
            {
                <MudProgressCircular Indeterminate="true" Size="Size.Small" Class="mr-2" />
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Sharp.Save" Class="mr-2" Size="Size.Small" />
            }
            <span>@localizer["Spara"]</span>
        </MudButton>
    </LeftActions>
        
    <ChildContent>
        <div>
            @if (IsLoading)
            {
                <MudProgressCircular Indeterminate Color="Color.Primary" />
            }
            else
            {
                @MainContent
            }
        </div>
    </ChildContent>
</OverviewPageLayout>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public RenderFragment? Actions { get; set; }
    [Parameter] public RenderFragment? MainContent { get; set; }
    [Parameter] public bool IsLoading { get; set; } = false;
    [Parameter] public EventCallback OnSave { get; set; }

    private bool IsSaving = false;

    private async Task OnSaveClicked()
    {
        IsSaving = true;
        await OnSave.InvokeAsync();
        IsSaving = false;
    }
}
