@using System.Globalization
@inject IJSRuntime JS

<div>

    <div class="gantt-header" style="display:flex; position:relative;">
        @foreach (var day in EachDay(Start, End))
        {
            <div class="gantt-header-cell" style="flex: 0 0 @(PixelsPerDay)px; width:@PixelsPerDay px; min-width:@PixelsPerDay px; max-width:@PixelsPerDay px; border-right:1px solid #e0e0e0; text-align:center; font-size:0.8em;">
                @day.ToString("dd MMM", CultureInfo.CurrentCulture)
            </div>
        }
    </div>

    <div class="gantt-container-flex">

        <div class="gantt-left" style="width: @LeftWidthPx;"></div>

        <div class="gantt-right">

            <div class="gantt-grid" style="display:flex; position:relative; height:40px;">
                @foreach (var day in EachDay(Start, End))
                {
                    <div class="gantt-grid-cell" style="flex: 0 0 @(PixelsPerDay)px; width:@PixelsPerDay px; min-width:@PixelsPerDay px; max-width:@PixelsPerDay px; border-right:1px solid #e0e0e0; height:100%;"></div>
                }
            </div>
        </div>

        <CascadingValue Value="this">
            <div class="gantt-content">
                @ChildContent
            </div>
        </CascadingValue>

    </div>
    

</div>



@code {
    [Parameter] public DateTime Start { get; set; }
    [Parameter] public DateTime End { get; set; }
    [Parameter] public double PixelsPerDay { get; set; } = 50;
    [Parameter] public RenderFragment? ChildContent { get; set; }

    public double LeftWidth { get; set; } = 220;
    public string LeftWidthPx => $"{LeftWidth}px";
    public double RowHeight { get; set; } = 40;
    public string RowHeightPx => $"{RowHeight}px";



    private IEnumerable<DateTime> EachDay(DateTime from, DateTime to)
    {
        for (var day = from.Date; day <= to.Date; day = day.AddDays(1))
            yield return day;
    }
}