@using Planity.FrontendBlazorWASM.Shared.Services
@inject IAuthService AuthService

<AuthorizeView>
    <Authorized>
        <div class="pr-3">
            Hello, @context.User.Identity?.Name!
        </div>
        <MudButton Variant="Variant.Filled" @onclick="LogOutAsync" Style="color: var(--mud-palette-primary-text)">Log out</MudButton>
    </Authorized>
    <NotAuthorized>
        <MudButton Variant="Variant.Filled" @onclick="LoginAsync" Style="color: var(--mud-palette-primary-text)">Log in</MudButton>
    </NotAuthorized>
</AuthorizeView>

@code{
    public Task LogOutAsync()
    {
        return AuthService.LogoutAsync();
    }
    public Task LoginAsync()
    {
        return AuthService.LoginAsync(false);
    }
}
