@typeparam T

<MudTh>
    <MudStack Spacing="0" Style="max-width: 200px;">
        <div class="d-flex">
            <MudTableSortLabel SortBy="@SortBy">
                <MudText><b>@Title</b></MudText>
            </MudTableSortLabel>
        </div>
        <MudDatePicker @bind-Date="@FilterDate" Placeholder="@PlaceHolder" Variant="Variant.Outlined" Margin="Margin.Dense" OpenTo="OpenTo.Date" Clearable="true" Editable="true" />
    </MudStack>
</MudTh>

@code {
    [Parameter] public DateTime? FilterDate { get; set; }
    [Parameter] public EventCallback<DateTime?> FilterDateChanged { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? PlaceHolder { get; set; }
    [Parameter] public Func<T, object>? SortBy { get; set; }
}
