@page "/unauthorized"
@using Planity.FrontendBlazorWASM.Shared.Services
@layout EmptyLayout
@inject IAuthService AuthService
@inject NavigationManager NavigationManager




<AuthorizeView>
    <Authorized>
        @{
            NavigationManager.NavigateTo(Routes.Dashboard);
        }

    </Authorized>
    <NotAuthorized>
        <div style="display: flex;align-content: center;justify-content: center;height: 100dvh;flex-direction: column;align-items: center;">
            <h3>Unauthorized</h3>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="LoginAsync">Log in</MudButton>
        </div>
    </NotAuthorized>
</AuthorizeView>




@code {

    public Task LoginAsync()
    {
        return AuthService.LoginAsync(true);
    }
}